* {
    font-family: "Raleway";
}

body {
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
}

.header {
    text-align: center;
    margin: 5px 0 20px 0;
    padding: 0;
}

.header img {
	max-height: 100px;
    min-height: 50px;
    width: auto;
}

.separator {
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    margin-bottom: 15px;
}

#sep2 {
    position: fixed;
    top: 21%;
    background-color: grey;
    margin-bottom: 20px;
}

.search-menu {
    position: fixed;
    left: 10%;
    top: 17%;
    z-index: 1;
    background-color: white;
}

.search-menu > * {
	margin-right: 30px;
}

.search-menu > *, .shoe-options > * {
    display: inline;
}

.shoe-options {
    display: none;
    position: absolute;
    height: auto;
    width: auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
    z-index: 2;
}

.shoe-options * {
	display: block;
}

#menu-woman {
    left: 0;
}

#menu-man {
    left: 85px;
}

#woman, #man {
    font-size: 18px;
}

.brand-options, .type-options {
	display: none;
    margin: 0 0 0 10px;
    height: auto;
}

.contents {
	float: right;
    width: 90%;
    height: 80%;
    margin-top: 4vh;
    z-index: 0;
}

.shoe {
    width: 200px;
    height: 200px;
    display: inline-block;
}

.shoe * {
    margin: 0;
}

.shoe img {
    height: 100px;
    width: auto;
}
