* {
    font-family: "Raleway";
}

a {
    cursor: pointer;
}

.header {
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0;
    clear: both;
}

.header img {
	max-height: 100px;
    min-height: 50px;
    width: auto;
}

.separator {
    display: block;
    width: 110%;
    height: 1px;
    background-color: black;
    margin-bottom: 15px;
}

.separator2 {
    position: fixed;
    display: block;
    width: 100%;
    top: 21%;
    height: 1px;
    background-color: grey;
    margin-bottom: 20px;
}

.search-menu {
    position: fixed;
    left: 10%;
    top: 17%;
}

.search-menu > * {
    margin-right: 100px;
}

.search-menu > *, .shoe-options > * {
    display: inline;
}

.search-options > * {
    margin-right: 10px;
    display: inline;
}

ul {
    list-style-type: none;
}

.shoe-options {
    display: none;
    margin: 0 0 0 10px;
    height: 36px;
    width: 50px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#woman, #man {
    font-size: 18px;
}

.brand-options {
	display: none;
    margin: 0 0 0 10px;
    height: auto;
    width: 90px;
}

.type-options {
	display: none;
    margin: 0 0 0 10px;
    height: auto;
    width: 70px;
}

.contents {
	float: right;
    width: 80%;
    height: 80%;
}

.shoe {
    width: 200px;
    height: 200px;
    display: inline-block;
}

.shoe * {
    margin: 0;
}

.shoe img {
    height: 100px;
    width: auto;
}
