* {
    font-family: "Raleway";
}

a {
    cursor: pointer;
}

.header {
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0;
    clear: both;
}

.header img {
	max-height: 100px;
    min-height: 50px;
    width: auto;
}

.separator {
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.menu {
	width: 100px;
    height: 200px;
    position: fixed;
    left: 20px;
}

.menu, .menu * {
    padding: 0;
    margin: 0;
    width: 50px;
    height: 20px;
}

.gender-options {
	height: 100px;
    width: 50px;
}

.gender-options > ul > li {
    margin-bottom: 8px;
}

.shoe-options {
    display: none;
    margin: 0 0 0 10px;
    height: 36px;
    width: 50px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#woman, #man {
    font-size: 18px;
}

.brand-options {
	display: none;
    margin: 0 0 0 10px;
    height: auto;
    width: 90px;
}

.type-options {
	display: none;
    margin: 0 0 0 10px;
    height: auto;
    width: 70px;
}

.search-options {
	width: 200px;
    height: 300px;
    margin-top: 200px;
}

.search-options * {
	width: auto;
}

.contents {
	float: right;
    width: 80%;
    height: 80%;
}

.shoe {
    width: 200px;
    height: 200px;
    display: inline-block;
}

.shoe * {
    margin: 0;
}

.shoe img {
    height: 100px;
    width: auto;
}
